@model Beverage

<h2>Добавить напиток</h2>

@using (Html.BeginForm("Create", "Admin"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Cost.Count)
        @Html.EditorFor(m => m.Cost.Count, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Cost.Price)
        @Html.EditorFor(m => m.Cost.Price, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}
